body{
    background-color: rgb(91, 84, 84);
}

.card{
    border: black solid 0.25rem;
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.5rem;
    margin: 0 auto;
    transition: 0.4s;
    margin-top: 2rem;
    &:hover{
        transform: scale(1.02);

    }
}
.num{
    font-size: xx-large;
    font-weight:900 ;
}
.buttonWrap{
    border-top: solid black 0.25rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.buttonWrap button{
    background-color: black;
    color: white;
    border: 0.1rem white solid;
    width: 35%;
    border-radius: 1rem;
    padding: 0.25rem;
    font-size: xx-large;
    transition: 0.4s;

    &:hover{
        background-color: white;
        transform: scale(1.1);
        color: black;
        border: 0.1rem black solid;
    }
}